---
---

@import "{{ site.theme }}";
header {
  background-color: #342d26;
  color: #ccc7b9;
}

header li {
background: linear-gradient(to top, #d4e9fa 0%, #414e59 100%);
box-shadow: inset 0px 1px 1px 0 #3b404f;
}

header li:hover {
background: linear-gradient(to top, #414e59 0%, #414e59 100%);
  box-shadow: inset 0px 1px 1px 0 #3b404f;
}
